/*@font-face { font-family: "Roboto"; src: url("../fnt/Roboto-Regular.ttf");}*/
/*@import url("https://fonts.googleapis.com/css?family=Roboto:400");*/

html { height: 100%;}
body { height: 100%; margin: 0px; background-color: #111; font-size: 0px; font-family: verdana;}
body, input { }
h1, h2, h3, h4, h5, h6 { margin: 0px; font-weight: normal;}
p { margin: 0px;}
ul { padding: 0px;}

#main { display: block; position: relative; z-index: 1; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 410px; height: 510px; border: 2px solid #333; border-radius: 5px; background-color: #1a1a1a; box-shadow: 0px 0px 4px #000; overflow: hidden;}
	#main > .menu_section { display: block; box-sizing: border-box; height: 100px; border-bottom: 2px solid #333;}
		#main > .menu_section > .score_div { display: inline-block; box-sizing: border-box; height: 100%; padding: 0px 10px;}
			#main > .menu_section > .score_div > h2 { height: 40px; line-height: 40px; font-size: 24px; color: #eee;}
			#main > .menu_section > .score_div > p { height: 60px; line-height: 60px; font-size: 32px; color: #fff;}
	#main > .game_section { display: block; box-sizing: border-box; width: 410px; height: 410px; padding: 5px;}
		#main > .game_section > .bg_cell { display: inline-block; vertical-align: top; box-sizing: border-box; width: 90px; height: 90px; margin: 5px; border: 2px solid #1e1e1e; border-radius: 5px; background-color: #171717;}