@font-face { font-family: "slkscr"; src: url("../fnt/slkscr.ttf");}
@font-face { font-family: "slkscrb"; src: url("../fnt/slkscrb.ttf");}

html { height: 100%;}
body { height: 100%; margin: 0px; background-color: #111; font-size: 0px; font-family: "slkscr";}
body, input { }
h1, h2, h3, h4, h5, h6 { margin: 0px; font-weight: normal;}
p { margin: 0px;}
ul { padding: 0px;}

#main { display: none; position: relative; z-index: 1; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 410px; height: 510px; border: 4px solid #000; background-color: #1a1a1a; overflow: hidden;}
	#main > .menu_section { display: block; box-sizing: border-box; height: 100px; border-bottom: 4px solid #333;}
		#main > .menu_section > .score_div { display: inline-block; box-sizing: border-box; height: 100%; padding: 0px 10px;}
			#main > .menu_section > .score_div > h2 { height: 40px; line-height: 40px; font-size: 24px; color: #eee;}
			#main > .menu_section > .score_div > p { height: 60px; line-height: 60px; font-size: 32px; color: #fff;}
	#main > .game_section { display: block; box-sizing: border-box; position: relative; z-index: 2; width: 410px; height: 410px; padding: 5px;}
		#main > .game_section > .bg_cell { display: inline-block; vertical-align: top; box-sizing: border-box; width: 90px; height: 90px; margin: 5px; border: 4px solid #1e1e1e; background-color: #171717;}
		#main > .game_section > .block { display: block; box-sizing: border-box; position: absolute; z-index: 4; width: 90px; height: 90px; line-height: 90px; border: 4px solid #000; text-align: center; font-size: 24px; font-family: "slkscr"; color: #fff; opacity: 0.2; transition: all 100ms ease, opacity 250ms ease;}
		#main > .game_section > .poison { background-image: url("../img/blocks/poison.png"); background-size: 100% 100%;}
		#main > .game_section > .wall_01 { background-color: #777; background-image: url("../img/blocks/wall_01.png"); background-size: 100% 100%;}
		#main > .game_section > .wall_02 { background-color: #777; background-image: url("../img/blocks/wall_02.png"); background-size: 100% 100%;}
		#main > .game_section > .wall_03 { background-color: #777; background-image: url("../img/blocks/wall_03.png"); background-size: 100% 100%;}
		#main > .game_section > .skull { background-image: url("../img/blocks/skull.png"); background-size: 100% 100%;}

#loading_div { display: block; position: relative; z-index: 5; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 400px; height: 40px; border: 4px solid #000; background-color: #1a1a1a;}
	#progression_div { display: block; width: 0%; height: 100%; background-color: #00d505; transition: width 250ms ease;}
	#progression_text { display: block; position: absolute; top: 0; left: 0; z-index: 6; width: 100%; height: 40px; line-height: 40px; text-shadow: 2px 2px 0px #000; text-align: center; font-size: 32px; color: #fff;}
	#loading_state_text { display: block; position: absolute; bottom: -44px; left: 0; z-index: 6; width: 100%; height: 40px; line-height: 40px; text-shadow: 2px 2px 0px #000; font-size: 16px; color: #fff;}

#reaper { display: block; position: fixed; bottom: 32px; left: 32px; vertical-align: top; width: 128px; height: 200px; transition: all 250ms ease;}
#reaper.stand { background-image: url("../img/reaper/reaper_stand.gif");}
#reaper.laugh { background-image: url("../img/reaper/reaper_laugh.gif");}
#reaper_text { display: block; position: fixed; top: calc(100% - 150px); left: 180px; max-width: 240px; min-width: 10px; min-height: 10px; padding: 8px; border: 4px solid #000; background-color: #fff1b8; font-size: 16px; color: #000;}

.shake { animation: shake 250ms;}

.shake_top { animation: shake_top 100ms;}
.shake_right { animation: shake_right 100ms;}
.shake_bottom { animation: shake_bottom 100ms;}
.shake_left { animation: shake_left 100ms;}

.anim_poison { animation: anim_poison 100ms;}
.anim_skull { animation: anim_skull 100ms;}

.anim_scale { animation: anim_scale 100ms;}

@keyframes shake
{
	0% { left: 48%; top: 52%;}
	20% { left: 51%; top: 48%;}
	40% { left: 50%; top: 53%;}
	60% { left: 47%; top: 51%;}
	80% { left: 50%; top: 51%;}
	100% { left: 50%; top: 50%;}
}

@keyframes shake_top
{
	50% { top: 48%;}
	100% { top: 50%;}
}

@keyframes shake_right
{
	50% { left: 52%;}
	100% { left: 50%;}
}

@keyframes shake_bottom
{
	50% { top: 52%;}
	100% { top: 50%;}
}

@keyframes shake_left
{
	50% { left: 48%;}
	100% { left: 50%;}
}

@keyframes anim_poison
{
	0% { margin: 0px 0px 0px 5px;}
	40% { margin: 0px 5px 0px 0px;}
	80% { margin: 0px 0px 0px 5px;}
	100% { margin: 0px 0px 0px 0px; background-color: #00d505;}
}

@keyframes anim_skull
{
	0% { margin: 0px 0px 0px 5px;}
	40% { margin: 0px 5px 0px 0px;}
	80% { margin: 0px 0px 0px 5px;}
	100% { margin: 0px 0px 0px 0px; background-color: #c00;}
}

@keyframes anim_scale
{
	0% { transform: scale(1);}
	50% { transform: scale(1.05);}
	100% { transform: scale(1);}
}
